Flask-JWT==0.3.2
Flask-Migrate==2.1.1
Flask-Restplus==0.10.1
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
Flask-Testing==0.7.1
coveralls==1.2.0
pytest-cov==2.5.1
webargs==1.8.1
psycopg2==2.7.3.2
gunicorn==19.7.1