alembic==0.9.7
aniso8601==2.0.0
attrs==17.4.0
certifi==2018.1.18
chardet==3.0.4
click==6.7
coverage==4.5.1
coveralls==1.2.0
docopt==0.6.2
Flask==0.12.2
Flask-Cors==3.0.3
Flask-JWT==0.3.2
Flask-Migrate==2.1.1
flask-restplus==0.10.1
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
Flask-Testing==0.7.1
gunicorn==19.7.1
idna==2.6
itsdangerous==0.24
Jinja2==2.10
jsonschema==2.6.0
Mako==1.2.2
MarkupSafe==1.0
marshmallow==2.15.0
pluggy==0.6.0
psycopg2==2.7.3.2
py==1.5.2
PyJWT==1.4.2
pytest==3.4.0
pytest-cov==2.5.1
python-dateutil==2.6.1
python-editor==1.0.3
pytz==2018.3
requests==2.18.4
six==1.11.0
SQLAlchemy==1.2.2
urllib3==1.22
webargs==1.8.1
Werkzeug==0.14.1
